<div class="container mt-4">
  <h2>{{ id ? "Edit" : "Create" }} User</h2>

  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label>Name</label>
      <input formControlName="name" class="form-control" />

      @if (userForm.get('name')?.touched && userForm.get('name')?.errors) {
      <div class="text-danger">
        @if (userForm.get('name')?.errors?.['required']) {
        <div>Name is required.</div>
        } @if (userForm.get('name')?.errors?.['maxlength']) {
        <div>Name must be less than 50 characters.</div>
        }
      </div>
      }
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input formControlName="email" type="email" class="form-control" />

      @if (userForm.get('email')?.touched && userForm.get('email')?.errors) {
      <div class="text-danger">
        @if (userForm.get('email')?.errors?.['required']) {
        <div>Email is required.</div>
        } @if (userForm.get('email')?.errors?.['email']) {
        <div>Please enter a valid email address.</div>
        }
      </div>
      }
    </div>

    <div class="mb-3">
      <label>Role</label>
      <select formControlName="role" class="form-select">
        <option value="" disabled>Select role</option>
        <option value="Admin">Admin</option>
        <option value="Editor">Editor</option>
        <option value="Viewer">Viewer</option>
      </select>

      @if (userForm.get('role')?.touched &&
      userForm.get('role')?.errors?.['required']) {
      <div class="text-danger">Role is required.</div>
      }
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
